<% content_for :title, "New User book" %>

<h1>New user book</h1>

<%= form_with(model: @user_book, local: true) do |form| %>
  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :task_id %>
    <%= form.text_field :task_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to user books", user_books_path %>
</div>
